<dom-module id="easy-money-header-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --easy-money-header; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

  cells-component-app-header {
    --cells-component-app-header-bg-color: #000000;
  }
</style></template></dom-module>
