<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="easy-money-header-styles.html">
<link rel="import" href="../cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../coronita-icons/coronita-icons.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">

<!--
`<easy-money-header>` description.

Example:

```html
<easy-money-header></easy-money-header>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --easy-money-header  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="easy-money-header">
  <template>
    <style include="easy-money-header-styles easy-money-header-shared-styles"></style>
    <cells-component-app-header
      icon-right="coronita:getout"
      icon-right-secondary="coronita:myprofile"
      icon-left="[[back]]"
      on-right-button-pressed="_handleLogoutButtonPressed"
      on-right-secondary-button-pressed="_handleEditUserButtonPressed"
      on-left-button-pressed="_handleBackButtonPressed">
        <!-- <span slot="title">[[Hola [[user.firstName]] !!!]]</span> -->
        <span slot="title">[[title]]</span>
    </cells-component-app-header>

    <cells-generic-dp
        id="logoutdp"
        host="http://localhost:3020"
        path="easymoney/v1/logout/[[user.id]]"
        handle-as="json"
        method="POST"
        on-request-success="_handleRequestLogoutSuccess"
        on-request-error="_handleRequestLogoutError"
        >
    </cells-generic-dp>

  </template>
  <script src="easy-money-header.js"></script>
</dom-module>
